<div class="row">
    <div class="col lg offset lg 3">
        <h3 class="text-center">
            Cambiar Contraseña
        </h3>
        <form [formGroup]="cambiarPassword" (abort)="guardarPassword"{}>
            <div class="form group">
                <input type="password" class="form-control" placeholder="Contraseña Anterior" formControlName="">
                <span class="text danger ml-3">
                    **ngIf="cambiarPassword.get('passwordAnterior').hasError('required')&& cambiarPassword.get('passwordAnterior').touched"
                    La contraseña es requerida 
                </span>
            </div>


            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña Nueva" formControlName="Nueva Password">
                <span class="text danger ml-3">
                    **ngIf="cambiarPassword.get('nuevaPassword').hasError('required')&& cambiarPassword.get('nuevaPassword').touched"
                    La nueva contraseña es requerida 
                </span>
                <span class="text danger ml-3">
                    **ngIf="cambiarPassword.get('passwordAnterior').hasError('minLength')"
                    La contraseña debe contener minimo 4 caracteres
                </span>
            </div>

            <div class="form-control">
                <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="Confirmar Password">
                <span class="text danger ml-3"

                    **ngIf="cambiarPassword.hasError('notSame')">
                    Contraseñas distintas
                </span>
            </div>

            <div class="div-col-text-center">
                <button class="btn-btn-primaey mr-2 btn-acep" [disabled]="cambiarPassword.invalid">Aceptar</button>
                <button class="btn-btn-primaey" routerLink="../">Volver</button>
            </div>
        </form>
    </div>
</div>